# Database configuration
POSTGRES_URL=postgres://username:password@localhost:5432/live_code_runner
DATABASE_URL=postgres://username:password@localhost:5432/live_code_runner

# Server configuration
PORT=5000